<div class="container">
  <div *ngIf="!gameStarted">
    <h2>Entrez les informations du jeu :</h2>
    <div class="form-group">
      <label for="joueur1">Joueur 1:</label>
      <input type="text" class="form-control" id="joueur1" [(ngModel)]="joueur1">
    </div>
    <div class="form-group">
      <label for="joueur2">Joueur 2:</label>
      <input type="text" class="form-control" id="joueur2" [(ngModel)]="joueur2">
    </div>
    <div class="form-group">
      <label for="objet">Nom de l'objet:</label>
      <input type="text" class="form-control" id="objet" [(ngModel)]="objet">
    </div>
    <div class="form-group">
      <label for="valeur">Valeur à trouver:</label>
      <input type="number" class="form-control" id="valeur" [(ngModel)]="valeur">
    </div>
    <button class="btn btn-primary" (click)="startGame()" [disabled]="!joueur1 || !joueur2 || !objet || !valeur">Commencer le jeu</button>
  </div>

  <div *ngIf="gameStarted && !gameFinished">
    <h2>{{ objet }}</h2>
    <div class="form-group">
      <label for="guess">Devinez la valeur:</label>
      <input type="number" class="form-control" id="guess" [(ngModel)]="guess">
    </div>
    <button class="btn btn-primary" (click)="playGuess()">Envoyer la valeur</button>
    <p *ngIf="guess !== null">Valeur envoyée : {{ guess }}</p>
    <p *ngIf="guess !== null && guess > valeur">C'est trop haut !</p>
    <p *ngIf="guess !== null && guess < valeur">C'est trop bas !</p>
    <p *ngIf="guess !== null && guess === valeur">C'est gagné, juste prix ! ({{ tentative }} tentatives)</p>
  </div>

  <div *ngIf="gameFinished">
    <h2>Tableau des scores</h2>
    <table class="table">
      <thead>
      <tr>
        <th>Joueur</th>
        <th>Tentatives</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let score of scores">
        <td>{{ score.joueur }}</td>
        <td>{{ score.tentatives }}</td>
      </tr>
      </tbody>
    </table>
    <button class="btn btn-success" (click)="restartGame()">Recommencer le jeu</button>
  </div>
</div>
